.link{
  cursor: pointer;
}
.link:hover {
  color: #ff911b;
  text-decoration: underline;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
